@model IEnumerable<MysportShop.Models.MyProduct>
@using MysportShop.Models

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h1>@ViewBag.Count</h1>
<div class="container">

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Info</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var listItem in Model)
            {
                <tr>
                    <td>@listItem.Id</td>
                    <td>@listItem.NameProduct</td>
                    <td>@listItem.InfoWithProduct</td>
                    <td>@listItem.Price.ToString("c")</td>
                </tr>
            }

        </tbody>
        @if (ViewBag.Page.Increment)
        {
            <a asp-action="Index" asp-route-page="@(ViewBag.Page.PageNumber-1)" class="btn btn-success">Decrement</a>
        }
        @if (ViewBag.Page.Decrement)
        {
            <a asp-action="Index" asp-route-page="@(ViewBag.Page.PageNumber+1)" class="btn btn-success">Increment</a>
        }
    </table>
    <h1>@ViewBag.PageNumber</h1>

    <a href="List">List</a>
</div>